{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Jobs{% endblock title %}
{% block content %}
    <div class="container mt-2">
        <h3 class="mb-4">Jobs</h3>

        <form method="GET" class="form-inline mb-4">
            <div class="form-group mb-2">
                {{ form | crispy }}
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>

        <!-- Job Listings Table -->
        {% if jobs %}
            {% include 'utils/paginator.html' %}
            <div class="row">
                {% for job in jobs %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ job.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ job.company_name }}</h6>
                                <p class="card-text"><strong>Location:</strong> {{ job.location }}</p>
                                <p class="card-text"><strong>Salary Range:</strong> {{ job.salary_range }}</p>
                                <p class="card-text"><strong>Date Posted:</strong> {{ job.date_posted }}</p>
                                <p class="card-text"><strong>Description:</strong> {{ job.description }}</p>
                                <p class="card-text"><strong>Skills Required:</strong> {{ job.skills_required }}</p>
                                <p class="card-text"><strong>Experience Required:</strong> {{ job.experience_required }}
                                </p>
                                <p class="card-text"><strong>Education Required:</strong> {{ job.education_required }}
                                </p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        {% else %}
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No jobs found.
                </div>
            </div>
            
        {% endif %}
    </div>
{% endblock content %}
